.nav-cont {
  position: sticky;
  top: 0;
  z-index: 999;
}
.mainLogo {
  max-height: 55px;
}
.nav-link {
  padding: 8px 30px !important;
  border-radius: 50px;
}
.nav-link.active {
  background: var(--colorPrimary) !important;
  color: white !important;
}
.nav-link:hover {
  background: var(--colorPrimary);
  border-radius: 50px;
  /* padding: 8px 30px !important; */
  color: white !important;
}
.navbar-nav{
    gap: 1vw;
}
.show {
  position: absolute;
  width: 100%;
  left: 0;
  top: 100%;
  background: white;
  padding: 20px 5px;
}
