@import url("https://fonts.googleapis.com/css2?family=Geologica&display=swap");

* {
  font-family: "Geologica", sans-serif;
}
:root {
  --colorPrimary: #ee542f;
}
.nav-home-cont {
  background-image: url("./assets/new nnrr.jpg");
  background-size: 100% 100vh;
  background-repeat: no-repeat;
}
a {
  text-decoration: none !important;
  color: inherit !important;
}
@media screen and (max-width: 1020px) {
  .nav-home-cont {
    background-size: auto 100vh;
  }
}
